---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: osrm-data
  namespace: mapbot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: nvme.network-drives.csi.timeweb.cloud
---
apiVersion: batch/v1
kind: Job
metadata:
  name: osrm-init
  namespace: mapbot
  labels:
    app.kubernetes.io/name: osrm-init
    app.kubernetes.io/version: v1
spec:
  backoffLimit: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: osrm-init
    spec:
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - name: osrm-init
          image: g2ferret/mapbot_osrm-init:v1
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: osrm-data
              mountPath: /data
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
      volumes:
        - name: osrm-data
          persistentVolumeClaim:
            claimName: osrm-data
---
apiVersion: v1
kind: Service
metadata:
  name: osrm
  namespace: mapbot
  labels:
    app.kubernetes.io/name: osrm
    app.kubernetes.io/version: v1
spec:
  selector:
    app.kubernetes.io/name: osrm
  ports:
    - name: http
      protocol: TCP
      port: 5000
      targetPort: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: osrm
  namespace: mapbot
  labels:
    app.kubernetes.io/name: &name osrm
    app.kubernetes.io/version: &version v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: *name
  template:
    metadata:
      labels:
        app.kubernetes.io/name: *name
        app.kubernetes.io/version: *version
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64

      initContainers:
        - name: wait-osrm-data
          image: busybox:1.36
          command:
            ["sh", "-c", "until [ -f /data/moscow-latest.osrm ]; do echo waiting for osrm data; sleep 5; done"]
          volumeMounts:
            - name: osrm-data
              mountPath: /data
          resources:
            requests:
              cpu: "5m"
              memory: "16Mi"
            limits:
              cpu: "50m"
              memory: "64Mi"

      containers:
        - name: osrm
          image: osrm/osrm-backend
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 5000
          command: ["osrm-routed", "--algorithm", "mld", "/data/moscow-latest.osrm"]
          volumeMounts:
            - name: osrm-data
              mountPath: /data
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "2"
              memory: "2Gi"

      volumes:
        - name: osrm-data
          persistentVolumeClaim:
            claimName: osrm-data
